[id^=Section_Divider] {
    border-top: 1px solid black;
}

#Stats_Image_Caption {
    height: auto;
    text-align: center;
}

[id^=Section_Header]{
    margin-top: 30px;
}

[id^=Section_Subheader] {
    font-size: 16px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

footer{
    font-size: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[id^=Stats_Image]{
    width: 240px;
    height: 320px;
}

[id^=WholeMenu] {
    width: 316px;
    height: 420px;
}

area{
    outline: none;
}

.list-group > li {
    padding-right: 5px;
    padding-left: 5px;
    background-color: lightgray;
}

