
@{
    ViewBag.Title = "About";
}

<h2 id="Page_Title_About">About the Authors</h2>

<p>
    Zagreus2 and zagreus420 and are actually the same person, me. I made 
    Zagreus2 in about 2002 and played until about 2011. I decided to pick it up
    again in summer of 2017. Zagreus2 was still active, but I decided to switch 
    over to Old School Runescape. This essentially meant I was starting over. 
    While I was doing Tuturial Island again, I found out about the Ultimate 
    Ironman. So I decided to make an account to try it out. Thats how 
    zagreus420 came to exist. 
</p>

<p>
    While I played Zagreus2, I beat most of the quests and was able to obtain a
    few 99s. I know all the quests that are currently in OSRS I have beaten 
    before at some point, so I have a genral idea of what to do with the new 
    Zagreus2 and zagreus420.
</p>

<h4 id="Section_Header_ContactWebmaster"> Contact the Webmaster</h4>
<p>
    This website is meant to focus on the achievment of zagreus420 and how that 
    character went about reaching those achievments. If you have questions or 
    concerns, send them to me at zagreus2@gmail.com. I'm currently working on aadding a comment section. That way, problems and concerns can be seen by all.
</p>
