
@{
    ViewBag.Title = "Agility";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Agility">Agility</h2>
<h6 id="Page_Subtitle_Agility"></h6>

<p></p>

<hr id="Section_Divider">

