
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Construction">Construction</h2>
<h6 id="Page_Subtitle_Construction">The closest I can get to being a carpenter like Jesus Christ or Ron Swanson</h6>