
@{
    ViewBag.Title = "Crafting";
}

<h2 id="Page_Title_Crafting">Crafting Training</h2>
<h6 id="Page_Subtitle_Crafting"></h6>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-30">Level 1 - 30</h4>
<p>
    I did Sheep Sheerer first. Then I killed cows in Lumbridge, tanned their 
    hides in Al Kharid, made the highest level item I could, and then sold the 
    items to a general store.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl30-52">Level 30 - 52</h4>
<p>
    combo of gold crafting, buying gems at gem shops to make into better 
    jewellery, and tiaras(the best)
</p>
<h4 id="Section_Subheader_Tiaras">Tiaras</h4>
<p>
    Mine silver at the champion guild mine or the Al-K mine if champ crowded
    Take the river to the lumbridge furnace (or walk to Al-k furnace) and then 
    sell to general store
    Take canoe back to champion guild (walk back to Al-K mine) and repeat
</p>
<h4 id="Section_Subheader_GoldCrafting">Gold Crafting</h4>
<p>
    I use dwarven mine gold rocks and smelt at Falador furnace. Al-k mine and 
    furnace work. Rimmington mine to falador furnace is slow unless you have 
    teleports. Crafting guild can work if you have 40 crafting. This is really 
    only done for money.
</p>
<h4 id="Section_Subheader_Gem Shops">Gem Shops</h4>    
<p>
    If you are after money at all, gem shops are great. You can buy an uncut 
    sapphire for 25 and sell it for over 100. I usually turn them into sapphire 
    necklaces, selling for 420 each at general stores.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Notes">General Side Notes</h4>
<p>
    I also trained crafting during my time fly fishing at barbarian village. 
    When random events would reward gems, I would take a quick break from 
    fishing and go mine some gold at the al kharid mine to craft those random 
    gems (and any additional gems bought from the al kharid gem seller).
</p>
    
