
@{
    ViewBag.Title = "Farming";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Farming">Farming</h2>
<h6 id="Page_Subtitle_Farming">PLOWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</h6>

