
@{
    ViewBag.Title = "Firemaking";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Firemaking">Firemaking</h2>
<h6 id="Page_Subtitle_Firemaking">420 blaze it bro do you even burn like it's so lit fam</h6>

<p></p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-15">Level 1 -15</h4>
<p>Normal logs from normal trees. normal stuff.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl15-30">Level 15 - 30</h4>
<p>Oak logs from oak trees.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl30-52">Level 30 - 52</h4>
<p>Willow logs from willow trees.</p>
