
@{
    ViewBag.Title = "Fishing";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Fishing">Fishing</h2>
<h6 id="Page_Subtitle_Fishing">How I became best friends with the River Lum</h6>

<p></p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-20">Level 1 - 20</h4>

<p>I fished shrimp and anchovies using a small net. South of the Lumbridge graveyard, there is a net/bait fishing spot. The Fishing Tutor is there for advice and there are two small nets that spawn on the 
    ground. Shrimp can be caught at level 1 while anchovies need level 15 to be caught.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl20-99">Level 20 - 96</h4>

<p>At level 20, trout can be caught using a fly fishing rod and feathers. At level 30, salmon will be caught as well. I fly fished at the Barbarian Village fishing spots.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_HowGetFeathers">How Did I Get Feathers?</h4>
<p>
    Early on, I killed chickens for @Html.ActionLink("combat", "Combat", "Skills", routeValues: null, htmlAttributes: new { id = "CombatLinkSkillsFishing_1" }) xp and saved all the
    feathers. The bulk of the feathers I bought from the Port Sarim Fishing Shop. I used the money I made from 
    @Html.ActionLink("Smithing", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkSkillsFishing_1" }) to purchase them.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_MoreDet">More Details</h4>
<p>
    At about level 53 Fishing I decided to stop switching between different activites, and stick purely to fishing. So I
    @Html.ActionLink("smithed", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkSkillsFishing_2" }) until I had enough money to purchase the feathers
    needed to get 99 @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkSkillsFishing_1" }) and 96 Fishing. I only wanted 96
    Fishing because then I have the level needed to complete all achievement diary tasks related to Fishing. To see more info, see the sheet titled "Fly Fishing" in
    <a href="https://docs.google.com/spreadsheets/d/1-lIrV1WU4C2QaVkVDSQ9AEZCl2nbwjhn4sTEZ5I-0_A/edit#gid=0" target="_blank" id="GoogleSheetsosrsSheetLink">my Google Sheet</a>.
</p>
