
@{
    ViewBag.Title = "Runecrafting";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Runecrafting">Runecrafting</h2>
<h6 id="Page_Subtitle_Runecrafting">How I trained this devilishly slow skill</h6>

<p>This is by far the most irksome skill to train</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-9">Level 1- 9</h4>
<p>
    After Rune Mysteries, I made Air Runes.
</p>

<hr id="Section_Divider">

<h4 id="Sectionn_Header_Lvl9-20">Level 9 -20</h4>
<p>
    The Earth Alter is very close to Aubury's Rune Shop, I used this alter 
    almost exclusively due to its proximity to a rune essence mine teleport.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Level20-29">Level 20 - 29</h4>
<p>
    The body altar is best used when you have a large amount of noted rune 
    essence. With no noted essence, I continue crafting earth runes at the 
    earth alter.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_NotedEssence">Noted Rune Essence is Easily Collected from...</h4>
<ul>
    <li>
        Minotaurs
    </li>
    <li>
        Ankou's (safespotting is easy)
    </li>
</ul>

<hr id="Section_Divider">

<h4 id="Section_Header_Notes">General Notes</h4>
<p>
    All xp lamps I receive from random events I use for runecrafting xp.
</p>


