
@{
    ViewBag.Title = "Smithing";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Smithing">Smithing</h2>
<h6 id="Page_Subtitle_Smithing"></h6>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-29">Level 1 - 29</h4>
<p>
    I did Knight's Sword quest. Easiest 29 levels I ever trained. Just do it.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl29-30">Level 29 - 30</h4>
<p>
    Mine iron in Varrock, canoe to Lumbridge furnace, canoe to varrock, smith at anvil, sell iron items to specialty shop.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl30-52">Level 30 - 52</h4>
<p>
    Mine iron and coal in Edgeville dungeon mine (beware of skeletons and hobgoblins), take canoe to lumbridge furnace, canoe back to varrock anvil, sell steel items to specialty shops
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_MyPath">My Favorite Method</h4>
<ul>
    <li>
        Mine whatever ore is needed in the Edgeville Dungeon mine
    </li>
    <li>
        Take canoe to Lumbridge
    </li>
    <li>
        Smelt in Lumbridge Furnace
    </li>
    <li>
        Canoe to Champion Guild
    </li>
    <li>
        Smith at Horvik's Anvil (north of the general store)
    </li>
    <li>
        Sell to Specialty Shop
    </li>
    <li>
        repeat
    </li>
</ul>
<p>
    Ideally you could mine iron at Varrock mine and coal at Barbarian Village, 
    but both those locations are often crowded.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Notes">General Side Notes</h4>
<p>
    If you really don't want to do Knight's Sword quest, then you could mine 
    copper and tin at Varrock mine and then traveled to Lumbridge furnace and 
    back for anvil until you have level for iron.
</p>
<p>
    You could also mine iron and coal in Dwarven Mine, then smelt in Falador 
    furnace. Smith on anvil in Dwarven mines and sell to the general store. 
    Doric's anivl is kinda far, so I never used that.
</p>
<p>
    Smithing really is the big money maker for me. That is why I stress selling 
    the items you make, it can make lots of money for you. However, general 
    stores will buy your items for far less than a speciality shop. Because of 
    that, I try to make items speciifcally for specialty shops. Platebodies 
    are the best to sell, as they return the highest coin / bar used. Platelegs 
    are second best, and short swords are third best. I usually make lots of 
    swords, and then switch to platebodies when I can make them. That way I can 
    sell to the specialy shops in Varrock (there's only a sword shop and 
    platebody shop there, no plateleg shop).
</p>
