
@{
    ViewBag.Title = "Woodcutting";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Woodcutting">Woodcutting</h2>
<h6 id="Page_Subtitle_Woodcutting">How I get my morning wood</h6>

<p></p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-15">Level 1 - 15</h4>
<p>
    Cut normal trees down.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl15-30">Level 15 - 30</h4>
<p>
    Cut oak trees down.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-15">Level 30 - 55</h4>
<p>
    Cut willow trees down.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Canoes">Canoes</h4>
<p>
    The canoe system is very useful for getting around. I use it a lot since it is great for getting between the Edgeville dungeon mine and the Lumbridge furnace.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Notes">General Side Notes</h4>
<p>
    While on my long @Html.ActionLink("fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsWoodcutting_1" })
    trip trying to get 96 @Html.ActionLink("fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsWoodcutting_2" }) 
    at Barbarian village, I made lots of
    canoes for getting back to Barbarian Village after casting home teleport to grab free mind and air runes.
</p>
<p>
    I gained 2 levels from this; 53 - 55.
</p>

