
@{
    ViewBag.Title = "Page404";
}

@{
    Response.StatusCode = 404;
    Response.StatusDescription = "Page not found";
}

<h2>Page404</h2>

<p>Oh snap. The fudge you doing here. This page doesn't exist. Go away.</p>

<p>
    But if you made it here, I could at least give you something. Enjoy one of my favorite youtube videos please:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cScB5FuQCIk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

